#projects .section__wrapper {
    padding: 0px 20px;
    margin: 80px auto;
}

/* Tabs Navigation */
.projects-nav {
    position: relative;
    width: 100%;
    max-width: max-content;
    height: 50px;
    border-radius: var(--border-radius-3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
    user-select: none;
}

/* Tab Button */
.projects-nav button {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-white);
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
    cursor: pointer;
    background: transparent;
    transition: color 0.3s ease-in-out;
}

/* Active Tab */
.projects-nav button.active {
    color: white;
    font-weight: bold;
}

/* Active Tab Indicator */
.projects-nav .active__indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    border-radius: var(--border-radius-3);
    transition: var(--transition);
    cursor: pointer;
    background: var(--gradient-1);
}

/* Card Grid Layout */
.card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
}

/* No Projects Message */
.no-projects {
    text-align: center;
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

/* Responsive Design */
@media screen and (max-width: 900px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .projects-nav button {
        font-size: 14px;
    }
    .card__container {
        grid-template-columns: 1fr;
    }
}
